---
version: "3.8"

networks:
  app_net:
    driver: overlay
    attachable: true

services:
  db:
    image: saikeerthim34/pythonapp2:dbimage
    networks:
      - app_net
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  auth_service:
    image: saikeerthim34/pythonapp2:authimage
    networks:
      - app_net
    depends_on:
      - db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  book_service:
    image: saikeerthim34/pythonapp2:bookimage
    networks:
      - app_net
    depends_on:
      - auth_service
      - db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  borrow_service:
    image: saikeerthim34/pythonapp2:borrowimage
    networks:
      - app_net
    depends_on:
      - auth_service
      - book_service
      - db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  frontend:
    image: saikeerthim34/pythonapp2:appimage
    networks:
      - app_net
    depends_on:
      - auth_service
      - book_service
      - borrow_service
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
    - "80:5000"    
