---
version: "3"
services:
 db:
   image: saikeerthim34/pythonapp:dbimage
   ports:
     - "3306:3306"
   deploy:
     replicas: 2

 auth_service:
   image: saikeerthim34/pythonapp:authimage
   ports:
     - "5001:5001"
   deploy:
     replicas: 2

 book_service:
   image: saikeerthim34/pythonapp:bookimage
   ports:
     - "5002:5002"
   deploy:
     replicas: 2


  borrow_service:
   image: saikeerthim34/pythonapp:borrowimage
   ports:
     - "5003:5003"
   deploy:
     replicas: 2


  frontend:
   image: saikeerthim34/pythonapp:frontend
   ports:
     - "5000:5000"
   deploy:
     replicas: 2   

     
