---
version: "3.8"

networks:
  app_net:
    driver: overlay
    attachable: true

services:
  db:
    image: saikeerthim34/pythonapp:dbimage
    networks:
      - app_net
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  auth_service:
    image: saikeerthim34/pythonapp:authimage
    networks:
      - app_net
    depends_on:
      - db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  book_service:
    image: saikeerthim34/pythonapp:bookimage
    networks:
      - app_net
    depends_on:
      - auth_service
      - db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  borrow_service:
    image: saikeerthim34/pythonapp:borrowimage
    networks:
      - app_net
    depends_on:
      - auth_service
      - book_service
      - db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  frontend:
    image: saikeerthim34/pythonapp:frontend
    networks:
      - app_net
    depends_on:
      - auth_service
      - book_service
      - borrow_service
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
